[buildout]
parts =
    django

find-links =
    http://pypi.iqpp.de/

versions = versions

[versions]
django = 1.6.5
djangorecipe = 1.9
django-lfs = 0.8.0a2

[django]
recipe =
    djangorecipe

eggs =
    django-lfs

project =
    lfs_project

settings=
    settings

extra-paths =
    ${buildout:directory}/lfs_project
